# all symbols after # treats as comment and not parse

# to list all available capture devices run:   UdpRtr.exe -capdev
# to test capturing on device run:             UdpRtr.exe -testcap

captureFrom = Realtek Gaming GbE Family Controller	# capturing device selection

# Format of retranslation rules for selected device:
#
#       source IP -> original destination IP -> retranslate to IP:port
#
# If in source IP port or destination IP port isn't specified - packets from any ports to 
# any ports will be retranslated
#
# In retranslation IP, port always should be specified!

192.168.11.61 -> 192.168.11.254 -> 192.168.11.250:13322

192.168.11.62:50000 -> 192.168.11.254:13322 -> 192.168.11.250:33322

# ------------------------------------------------------------------------------------------

captureFrom = Another Controller			# another capturing device selection

# another retranslation rules

192.168.14.200 -> 255.255.255.255 -> 192.168.222.111:33333 
