*.user
*.autosave
version.h
gitlab_version.h
Makefile*
*.o
*embed.manifest
GetGitProjectVersion.exe
GetGitProjectVersion
.~lock.*#
.svn
.vscode
.vs
Scripts/out
Test/build-*/**
Test/bin/**
Metrology/Metrology.db
Tools/build-*/**
Test/AfbTests/LM1_SF00/AFB_TESTS/UALTESTS/Reports/*
Test/AfbTests/LM1_SF00/AFB_TESTS/UALTESTS/Archive/**