*.user
*.autosave
version.h
gitlab_version.h
Makefile*
*.o
build-*/**
build/**
u7set-cppcheck-build-dir/**
**/out/**
out/**
bin/**
*embed.manifest
GetGitProjectVersion.exe
GetGitProjectVersion
.~lock.*#
.svn
.vscode
.vs
Scripts/out
Test/build-*/**
*.aps
Test/bin/**
Metrology/Metrology.db
Tools/build-*/**
Test/AfbTests/LM1_SF00/AFB_TESTS/UALTESTS/Reports/*
Test/AfbTests/LM1_SF00/AFB_TESTS/UALTESTS/Archive/**
enc_temp_folder/
*.bak
**/__pycache__
/Simulator/RvModelSimTester/settings.ini
